################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LocationsFromPhotos/bin
/LocationsFromPhotos/obj
